

.new-poll-title-container {
  margin: 3rem auto;
  text-align: center;
}

.new-poll-title-textarea {
  display: inline-block;
  margin: 0 auto;
  height: 6rem;
  width: 60rem;
  font-size: 3em;
  vertical-align: middle;
}

.saved-title {
  display: inline-block;
  vertical-align: middle;
  font-size: 3em;
  max-width: 60rem;
}

.save-icon {
  display: inline-block;
  margin-left: 1rem;
  font-size: 4em;
  vertical-align: middle;
}

.edit-icon {
  display: inline-block;
  margin-left: 1rem;
  font-size: 2.5em;
  vertical-align: middle;  
}

.options-container {
  margin: 2rem auto;
  text-align: center;
  max-width: 60rem;
  vertical-align: middle;
}

.option-input {
  display: inline-block;
  margin-top: 2rem;
  max-width: 40rem;
}

.delete-button {
  display: inline-block;
  margin-left: .5rem;
  margin-bottom: .2rem;
  vertical-align: middle;
}

.add-another-option {
  margin-top: 1rem;
  font-size: 1.3em;
}

.save-reset-buttons {
  width: 12rem;
  height: 4rem;
}

.reset-poll-button {
  margin-left: 1rem;
}