.new-poll-title-container {
  margin: 3rem auto;
  text-align: center;
}

.new-poll-title-input {
  display: inline-block;
  margin: 0 auto;
  height: 6rem;
  width: 45rem;
  font-size: 3em;
  vertical-align: middle;
}

.save-icon {
  display: inline-block;
  margin-left: 1rem;
  font-size: 4em;
  vertical-align: middle;
}
