$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "bootstrap-sass/assets/stylesheets/bootstrap";
@import "font-awesome/scss/variables";
$fa-font-path: "font-awesome/fonts";
@import "font-awesome/scss/font-awesome";
@import "awesome-bootstrap-checkbox/awesome-bootstrap-checkbox";
@import url('https://fonts.googleapis.com/css?family=Overpass');

h1, h2, h3, h4, p, a, text {
  font-family: 'Overpass', sans-serif;
}

.fine {
  font-family: 'Overpass', sans-serif;
}

.view-title {
  color: teal;
  font-size: 4em;
}

.center-div-horizontally {
  margin: 0 auto;
  float: none;
}

@import "createAPoll";
@import "cards";
@import "pollCard";
@import "resultCard";
@import "D3Chart";
@import "ownerControlButtons";
