$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "bootstrap-sass/assets/stylesheets/bootstrap";
@import "font-awesome/scss/variables";
$fa-font-path: "font-awesome/fonts";
@import "font-awesome/scss/font-awesome";
@import "awesome-bootstrap-checkbox/awesome-bootstrap-checkbox";

.test {
  background: lime;
  margin: 2rem;
}

.fine {
  font-family: noto;
}

.view-title {
  color: teal;
  font-size: 4em;
}

@import "createAPoll";