.poll-edit-buttons {
  font-size: 2em;
}

.poll-results-settings-button {
  margin-right: .4rem;
  margin-left: 1rem;
  margin-bottom: .4rem;
}

.poll-card-settings-button {
  margin-right: .4rem;
  margin-left: 0;
  margin-bottom: .4rem;
}
